.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 1s;
}

    .ex-1-square:hover{
        background-color: red;
    }
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width ease-in-out 0.5s;
}

    .ex-2-square:active{
        width: 500px;
    }

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}

    .ex-3-square:hover{
        border-radius:50%;
    }

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 2s;
}

    .ex-4-square:hover{
        opacity: 0;
    }

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: ease-in-out 2s;
}

    .ex-5-square:hover{
        transform:scale(1.5)
    }

    .ex-5-square:active{
        transform: scale(0.5);
    }
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter:grayscale(100%);
}

.ex-7-img:hover{
    filter: brightness(0.5) contrast(1) grayscale(1);
}

.ex-7-img, .ex-8-img, .ex-9-img{
    transition: ease-in-out 1s;
}

.ex-8-img:hover, .ex-9-img:hover{
    filter: hue-rotate(45deg) contrast(0.5);
    border-radius: 12px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover{
    transform: scale(1.5);
}
.ex-10-icon {
    font-size: 60px;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0%{
        rotate: 0deg;
    }

    25%{
        rotate: 90deg;
    }

    50%{
        rotate: 180deg;
    }

    75%{
        rotate: 270deg;
    }

    100%{
        rotate: 360deg;
    }
}

.ex-11-icon {
    font-size: 60px;
    animation-name:almost-spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes almost-spin {
    0%{
        rotate: 0deg;
    }

    25%{
        rotate: 90deg;
    }

    50%{
        rotate: 180deg;
    }

    75%{
        rotate: 270deg;
    }

    100%{
        rotate: 0deg;
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


.ex-12-top-white{
    animation:space-top-move;
}

.ex-12-bottom-white{
    animation:space-bottom-move;
}



.ex-13-top-white{
    /* background: red; */
    animation: space-top-spin;
}

.ex-13-bottom-white{
    /* background: blue; */
    animation: space-bottom-spin;
}

.ex-12-top-white, .ex-12-bottom-white, .ex-13-top-white,.ex-13-bottom-white{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes space-top-move {
    0%{
        left:10%;
    }

    50%{
        left: calc(80% - 60px);
    }

    100%{
        left:10%;
    }
}
@keyframes space-bottom-move {
    0%{
        right:20%;
    }

    50%{
        right: calc(90% - 60px);
    }

    100%{
        right:20%;
    }
}

@keyframes space-top-spin {
    0%{
        left:10%;
        top:-10px;
    }

    30%{
        left:75%;
        top:-10px;
    }

    50%{
        left:75%;
        top:60px;
    }

    70%{
        left:calc(10% - 60px);
        top:60px;
    }

    90%{
        left:calc(10% - 60px);
        top:-10px;
    }

    100%{
        left:10%;
        top:-10px;
    }
}
@keyframes space-bottom-spin {
    0%{
        right:20%;
        bottom:-10px;
    }

    30%{
        right:75%;
        bottom:-10px;
    }

    50%{
        right:75%;
        bottom:60px;
    }

    70%{
        right:-10%;
        bottom:60px;
    }

    90%{
        right:-10%;
        bottom:-10px;
    }

    100%{
        right:20%;
        bottom:-10px;
    }
}